@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

:root {
  --color-background-primary: #1992d4;
  --color-background-body: #e2e8f0;
  --color-background-header: #fff;
  --color-background-card: #fff;
  --color-font-light: #fff;
  --color-font-primary: #000;
  --color-font-secondary: #636363;
  --color-divider: #d2d2d2;
  --color-accent: #f0b429;
  --padding-typical: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  color: var(--color-font-primary);
}

body {
  display: grid;
  grid:
    "sidebar header" min-content
    "sidebar main" 1fr
    "footer footer" min-content
    / 1fr 3fr;
  min-height: 100vh;
}

header {
  grid-area: header;
  display: grid;
  align-items: center;
  grid: min-content min-content / 1fr min-content;
  padding: var(--padding-typical);
  background-color: var(--color-background-header);
}

.button-container {
  list-style: none;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--padding-typical);
}

.button-container button {
  padding: 12px 0;
  width: 100px;
  border: none;
  border-radius: 1000px;
  background-color: var(--color-background-primary);
  color: var(--color-font-light);
  font-weight: bold;
}

nav {
  grid-area: sidebar;
  display: grid;
  grid-auto-rows: min-content;
  padding: var(--padding-typical);
  gap: 60px;
  background-color: var(--color-background-primary);
}

nav * {
  color: var(--color-font-light);
}

.brand {
  margin: 0;
}

.nav-container {
  list-style: none;
  display: grid;
  grid-auto-rows: min-content;
  gap: 20px;
}

.nav-link:is(:link, :active, :hover, :visited) {
  text-decoration: none;
  font-weight: bold;
  font-size: 1.3rem;
}

main {
  grid-area: main;
  display: grid;
  padding: var(--padding-typical);
  grid:
    "projects announcements" 1fr
    "projects trending" 1fr
    / 3fr 1fr;
  gap: var(--padding-typical);
  background-color: var(--color-background-body);
}

main h2 {
  padding-bottom: var(--padding-typical);
}

.projects {
  grid-area: projects;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: var(--padding-typical);
  list-style: none;
}

.card {
  padding: var(--padding-typical);
  border-radius: 8px;
  background-color: var(--color-background-card);
  list-style: none;
}

.card p {
  color: var(--color-font-secondary);
}

.project {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  height: 250px;
  border-left: 8px solid var(--color-accent);
}

.project h3 {
  padding: 10px 0;
}

.project p {
  overflow: hidden;
}

.project .button-container {
  display: flex;
  gap: 10px;
  justify-content: end;
  align-items: center;
  list-style: none;
}

.project .button-container .button {
  width: 40px;
  height: 40px;
  background-color: var(--color-background-primary);
}

.announcements {
  display: grid;
  padding: 0 var(--padding-typical);
  grid-template-rows: repeat(3, 1fr);
}

.announcements li {
  padding: var(--padding-typical) 0;
}

.announcements li:not(:first-child) {
  border-top: 1px solid var(--color-divider);
}

.announcement p {
  padding-top: 5px;
  font-size: 0.9rem;
}

footer {
  grid-area: footer;
  background-color: #333;
}
